.top-profile-container {
    width: 40em;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 3em;

}

.top-profile-picture {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    border: 1px solid black;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: rgb(220, 220, 220);

    position: relative;
    top: 5em;
    z-index: 1;
}

.top-body-profile-container {
    background-color: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    position: relative;

    padding: 0 2.3em 2.3em 2.3em;

    display: flex;
    flex-direction: column;
    align-items: left;

    border-radius: 0.5em;
}

.top-body-profile-username {
    font-size: 1.8em;
    font-weight: bold;

    line-height: 0;
    font-weight: bold;

    margin: 0;
    padding: 0;

    position: relative;
    top: 3em;

    outline: none;
    border: none;
}

.top-body-profile-bio-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    border-top: 1px solid rgb(220, 220, 220);

    position: relative;
    top: 5.5em;
}

.top-body-profile-bio-label {
    font-size: 1.1em;
    font-weight: bold;

    width: fit-content;

    color: rgb(0, 0, 0, 0.7);

    position: relative;
    top: -1em;
}

.top-body-profile-bio-text {
    font-size: 1em;
    font-weight: 500;

    width: 100%;

    color: rgb(0, 0, 0, 0.7);

    margin: 0;

    cursor: default;

    border: 0;
    resize: none;

    overflow: hidden;
    outline: none;

    position: relative;
    top: -1em;

}

.top-body-profile-bio-text-counter {
    font-size: 0.8em;
    font-weight: 500;

    color: #fff;

    position: relative;
    top: 0.6em;
    right: 0.6em;

    text-align: right;
}

.top-body-profile-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: auto;

    padding: 0.25em;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);

    position: relative;
    top: 5em;
}

.followers-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 18em;
    height: 6em;

    cursor: pointer;

    position: relative;
}

.followers-stats:hover {
    background-color: rgb(220, 220, 220, 0.3);
}

.followers-stats-text {
    font-size: 1.2em;
    font-weight: bold;

    color: rgb(0, 0, 0, 0.7);

}

.followers-stats-number {
    font-size: 1.5em;
    font-weight: bold;

    color: rgb(0, 0, 0, 0.7);
}

.posts-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    width: 40em;
    height: fit-content;
    padding: 2em;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    background-color: #fff;

    border-radius: 0.5em;

    position: relative;
    top: 5em;
}

.posts-grid-post {
    width: 12em;
    height: 12em;

    border: 1px inset #000;

    background-color: #fff;

    cursor: pointer;
}

.posts-grid-nopost-text {
    font-size: 1.5em;
    font-weight: bold;

    color: rgb(0, 0, 0, 0.7);

    position: relative;


}

.posts-grid-post-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.delete-account-button {
    width: 12em;
    height: 3em;

    background-color: rgb(255, 56, 56);
    border: 1px solid #000;

    border-radius: 0.5em;

    font-size: 1.2em;
    font-weight: bold;

    color: rgb(0, 0, 0, 0.7);

    position: relative;
}

.delete-account-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40em;
    height: 5em;

    position: relative;
    top: 6em;
}


.post-view {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.top-body-profile-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: auto;

    position: relative;
    top: 1em;

}

.profile-actions-button {
    width: 6em;
    height: 2em;

    border: 1px solid #000;

    border-radius: 0.2em;

    font-size: 1.2em;
    font-weight: bold;

    color: rgb(0, 0, 0, 0.7);

    position: relative;
}

.follow-button {
    background-color: #03C988;
}

.follow-button:hover {
    box-shadow: inset 0px 0px 0px 5em rgb(0, 0, 0, 0.2);
}